In [1]:
#Importação de bibliotecas
import pandas as pd

In [122]:
#Tras os dados e visualiza
df = pd.read_csv('./Dataset/PokemonData.csv')
df.head(5)

,Num,Name,Type1,Type2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
#Tipo de cada variavel
df.dtypes

Num            int64
Name          object
Type1         object
Type2         object
HP             int64
Attack         int64
Defense        int64
SpAtk          int64
SpDef          int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

### Tratando os dados

In [3]:
#Quantidade de pokemon por geração
df.groupby("Generation")["Num"].count()

Generation
1    166
2    106
3    160
4    121
5    165
6     82
Name: Num, dtype: int64

In [123]:
#Separar os dados em tabelas por geração
df_1gen = df[(df['Generation'] == 1)].copy()
df_2gen = df[(df['Generation'] == 2)].copy()
df_3gen = df[(df['Generation'] == 3)].copy()
df_4gen = df[(df['Generation'] == 4)].copy()
df_5gen = df[(df['Generation'] == 5)].copy()
df_6gen = df[(df['Generation'] == 6)].copy()

#Numero de gerações
gens = 6

#Coloca todos em um array
arr_gen = [df_1gen, df_2gen, df_3gen, df_4gen, df_5gen, df_6gen]

In [130]:
#Ferramentos
def remover_mega(dataFrame):
    #Remover os megas
    indexes = dataFrame[dataFrame['Name'].str.contains("Mega ")].index #pega os indexes dos megas, deixar espaço depois do mega por causa do Meganiun
    dataFrame.drop(indexes, inplace=True)

    #Confirmar a remoção
    cont_megas = dataFrame['Name'].str.contains("Mega ").sum()
    print(cont_megas)

#### Remover os Megas
Para essa analise, os megas não seram utilizados, assim para ficar mais facíl a anlise os mesmos seram removidos.

In [128]:
#Removendo os megas
for gen in range(gens):
    remover_mega(arr_gen[gen])

0
0
0
0
0
0

#### Inicias
Agora vamos pegar os inicias de cada geração, e suas respectivas evoluções

In [119]:
def pega_inicias(dataFrame):
    # Como as 9 primeiras entradas representam os Pokemon inicias.
    new_df = dataFrame.head(9)
    return new_df

def reset_num(dataFrame):
    # Como estavam eu um unico Data Frame, os valores de Num precisam ser corrigidos, para facilitar o uso futuro
    cont = 0
    for row in range(dataFrame.shape[0]):
        dataFrame.iat[row, 0] = cont+1
        cont += 1

In [132]:
df_ini1gen = pega_inicias(arr_gen[0])
df_ini2gen = pega_inicias(arr_gen[1])
df_ini3gen = pega_inicias(arr_gen[2])
df_ini4gen = pega_inicias(arr_gen[3])
df_ini5gen = pega_inicias(arr_gen[4])
df_ini6gen = pega_inicias(arr_gen[5])

#array com os inicias
arr_iniGen = [df_ini1gen, df_ini2gen, df_ini3gen, df_ini4gen, df_ini5gen, df_ini6gen]

#Corrige os valores de NUM
for gen in range(gens):
    reset_num(arr_iniGen[gen])

#Para confirmar, vamos printar a quantidade de linhas de cada DF
for gen in range(gens):
    print("{} -> {}".format(gen+1, arr_iniGen[gen].shape[0]))

1 -> 9
2 -> 9
3 -> 9
4 -> 9
5 -> 9
6 -> 9

### Analisando
Que já tratamos e separamos os dados que queriamos, vamos comçar a analisa-los

#### Achando a media por tipo
Vamos achar a média por tipo e estágio de cada pokemon

In [97]:
arr_iniGen[0]

,Num,Name,Type1,Type2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False

In [98]:
#Dics para armazenar os valores de agua
iniAgua0_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
iniAgua1_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
iniAgua2_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
#Dics para armazenar os valores de Fogo
iniFogo0_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
iniFogo1_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
iniFogo2_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
#Dics para armazenar os valores de Grama
iniGrama0_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
iniGrama1_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}
iniGrama2_medias = {'HP': 0, 'Attack': 0, 'Defese': 0, 'SpAtk': 0, 'SpDef': 0, 'Speed': 0}

In [147]:
def soma_atributo_stage(atri, num, tipo):
    soma = 0
    for gen in range(gens):
        df_poke = arr_iniGen[gen][(arr_iniGen[gen]['Num'] == num) & (arr_iniGen[gen]['Type1'] == tipo)]
        soma += df_poke[atri].sum()
    return soma

In [148]:
df_iniGrama = pd.DataFrame({'Stagio':['Base', 'Stagio1', 'Stagio2'], 
                            'HP':[soma_atributo_stage('HP', 1, 'Grass')/gens, soma_atributo_stage('HP', 2, 'Grass')/gens, soma_atributo_stage('HP', 3, 'Grass')/gens]
                            'Attack':[soma_atributo_stage('Attack', 1, 'Grass')/gens, soma_atributo_stage('Attack', 2, 'Grass')/gens, soma_atributo_stage('Attack', 3, 'Grass')/gens]
                           })

df_iniGrama

    Stagio         HP
0     Base  40.166667
1  Stagio1  58.500000
2  Stagio2  78.833333